*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #84aff5;
}
.myBar{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    padding: 20px 50px;
    background-color: #fff;
    margin-top: 100px;
    
}
#btn{
    margin-top: 20px;
    width: 92%;
}